<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Job Details</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-striped</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>Image</th>
                          <th>
                            Company Name
                          </th>
                            <th>Location</th>
                          <th>
                            Job Title
                          </th>
                            <th>Job Type</th>
                            <th>Experience</th>
                            <th>Salary</th>
                            <th>Vacancy</th>
                          <th>
                            Posted On
                          </th>
                          <th>
                            Closing On
                          </th>
                          <th> Contact Email</th>
                          <th> Website</th>
                          <th>Brief Description</th>
                          <th>PreferredSkills</th>
                        </tr>
                      </thead>
                      <tbody>

                      {% for i in job%}
                       {% if request.session.CompanyName == i.CompanyName %}

                        <tr>
                           <td class="py-1">
                            <img src="{{i.Image.url}}" alt="image">
                          </td>
                          <td>{{i.CompanyName}}</td>
                            <td>{{i.Location}}</td>
                          <td>{{i.JobTitle}}</td>
                          <td>{{i.JobType}}</td>
                          <td>{{i.Experience}}</td>
                          <td>{{i.Salary}}</td>
                          <td>{{i.Vacancy}}</td>
                          <td>{{i.PostedOn}}</td>
                          <td>{{i.ClosingOn}}</td>
                          <td>{{i.CompanyEmail}}</td>
                          <td>{{i.Website}}</td>
                          <td>{{i.BriefDescription}}</td>
                          <td>{{i.PreferredSkills}}</td>
                          <form action="{% url 'editJob' dataid=i.id %}">
                            <td>
                              <button type="submit" class="btn btn-primary mr-2">Edit</button>
                            </td>
                          </form>
                           <form action="{% url 'deleteJob' dataid=i.id %}">
                            <td>
                              <button type="submit" class="btn btn-primary mr-2">Delete</button>
                            </td>
                          </form>
                        </tr>
                      {% endif %}
                       {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% elif i.tags == 'success' %}
             <script>
                swal('{{i}}','','success')
            </script>
        {% else %}
            <script>
                swal('{{i}}','','info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}