<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">

                  <h4 class="card-title">Applications Details</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-striped</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>

                          <th>
                            Name
                          </th>
                          <th>
                            Number
                          </th>
                          <th>
                            Contact Mail
                          </th>
                          <th>
                            Company Name
                          </th>
                            <th>
                            Job Title
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for x in job %}
                        <tr>
                          <td>{{x.Name}}</td>
                          <td>{{x.Mobile}}</td>
                          <td>{{x.Email}}</td>
                          <td>{{x.CompanyName}}</td>
                          <td>{{x.JobTitle}}</td>

                           <form action="{% url 'deleteApplication' dataid=x.id %}">
                            <td>
                              <button type="submit" class="btn btn-primary mr-2">Delete</button>
                            </td>
                          </form>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
            </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% elif i.tags == 'success' %}
             <script>
                swal('{{i}}','','success')
            </script>
        {% else %}
            <script>
                swal('{{i}}','','info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}